__pycache__
.vs
.vscode
env

appendix_jupyter
appendix_python

Mask_RCNN/samples/coco/mask_rcnn_coco.h5
Mask_RCNN/samples/balloon/mask_rcnn_balloon.h5

Mask_RCNN/samples/demo.ipynb
Mask_RCNN/samples/nucleus
Mask_RCNN/samples/shaped

~index.py
